<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jay.chapter3.mapper.Student3Mapper">
    <resultMap id="studentResult" type="Student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sexEnum" column="sex"/>
        <association property="classRoom" javaType="ClassRoom">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="ClassTypeEnum" column="class_type"/>
        </association>
    </resultMap>

    <select id="selectStudentById" resultMap="studentResult">
        SELECT s.id,s.`name`,s.age,s.sex,c.id,c.`name`,c.class_type FROM student s, classroom c
        WHERE s.class_id=c.id AND s.id=#{id}
    </select>

</mapper>